<div class="content-close-button-container">
  {{#link-to 'index' class="content-close-button"}}×{{/link-to}}
</div>

<div class="content cell large-5 large-order-3">
  <h2>Get started quickly</h2>
  <p class="lead">This is a starting point for creating mapping applications that combine the components and style from <a href="https://nycplanning.github.io/labs-ui/">Labs UI</a>, models and components from <a href="https://nycplanning.github.io/ember-mapbox-composer/">Ember Mapbox Composer</a>, search from <a href="https://github.com/NYCPlanning/labs-ember-searchlabs-ember-search">Labs Ember Search</a> and <a href="https://github.com/NYCPlanning/labs-search-api">Labs Search API</a>, and data from <a href="https://github.com/NYCPlanning/labs-layers-api">Labs Layers API</a>.</p>
  <p>Just fork this repository and get started.</p>

  <p> <strong>></strong> This app incorporates features that we reuse in many of our apps. Components include:</p>

  <p>
    <ul>
      <li><strong>tooltip-renderer</strong> for showing tooltips on the map</li>
      <li><strong>lookup-layer-group</strong> for adding layer-group legend items</li>
    </ul>
  </p>

</div>

{{outlet}}
